
#area, #trainArea {
    background-image: url('../img/grid.png');
}

#area, #trainArea {
    cursor: crosshair;
}

#area:active, #trainArea:active { 
    cursor: crosshair;
}

.center {
    text-align: center;
    position: relative;
}

.buttons .btn {
    float:right;

    margin-left: 10px;
}


